<div class="signup-form-container centered">
  <%= image_tag "streak_on_rails.svg", class: "app-logo" %>
  <p style="text-align: center;">Create Account</p>
  <hr>

  <div class="sign-up-form">
    <%= form_for :contestant, url: '/contestants' do |f| %>
      <%= f.text_field :email, placeholder: "Email" %><br><br>
      <%= f.text_field :username, placeholder: "Username" %><br><br>
      <%= f.password_field :password, placeholder: "Password" %><br><br>
      <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %><br>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>
