<%= form_for(:session, url: login_path) do |f| %>
  Username: <%= f.text_field :username %><br>
  Password: <%= f.password_field :password %><br>
  <%= f.submit "Submit" %>
  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
<% end %>
