<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.text_field :username, placeholder: "username" %><br>
  <%= f.password_field :password, placeholder: "password" %><br>
  <%= f.submit "Submit" %>
  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
<% end %>
