<div class="authform">
  <h1>Sign In</h1>
    <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true %><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <%= f.submit "Sign in" %><br>
    <div class="google-signin">
      <%= image_tag "icon-google.svg" %><%= link_to "Sign in with Google", "/auth/google_oauth2" %>
    </div>
        <h4>New user? <%= link_to "Sign up now!", signup_path %></h4>
  <% end %>
</div>
