<div class="authform signup">
  <%= image_tag "streak_on_rails.svg", class: "app-logo" %>
  <h2 style="text-align: center;">Create Account</h2>
  <hr>

  <div class="authform signup">
    <%= form_for :user, url: '/users' do |f| %>
    <% if @user.errors.any? %>
      <div class="signin-errors">
        <ul>
        <% @user.errors.full_messages_for(:email).each do |m| %>
          <li><%= m %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <%= f.label :email %>
      <%= f.text_field :email, autofocus: true %><br>
      <div class="signin-errors">
        <ul>
        <% @user.errors.full_messages_for(:username).each do |m| %>
          <li><%= m %></li>
        <% end %>
        </ul>
      </div>
      <%= f.label :username %>
      <%= f.text_field :username %><br>
      <% if @user.errors.any? %>
        <div class="signin-errors">
          <ul>
          <% @user.errors.full_messages_for(:password).each do |m| %>
            <li><%= m %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.label :password %>
      <%= f.password_field :password %><br>
      <% if @user.errors.any? %>
        <div class="signin-errors">
          <ul>
          <% @user.errors.full_messages_for(:password_confirmation).each do |m| %>
            <li><%= m %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %><br>
      <%= f.submit "Create Account" %>
    <% end %>
  </div>
</div>
