<div class="dateSelectors" style="text-align: center;">
  <span><%= link_to previous_board_link, board_path(previous_board) if previous_board %></span>

  <span id="today">
    <strong>
      <%= link_to DateTime.parse(@board.name).strftime('%a. %b %e'), board_path(@board) %>
    </strong>
  </span>
  <span><%= link_to next_board_link, board_path(next_board) if next_board %></span>

  <span>
    (<%= @board.props.count%> Total)
  </span>
</div>
<br>

<div class="prop-container">
  <% @props.each do |prop| %>
  <div class="gameTable <%= prop_locked(prop) %>" " <%= prop_selected(prop) %>">
    <div class="prop-title"><strong><%= link_to prop.title, prop_path(prop) %></strong></div>
      <table class="game-prop">
          <tr>
            <td rowspan='2' class="sport-start">
              <div class="start"><%= prop.readable_est_time %></div>
              <div class="prop-sport"><strong><%= prop.sport %></strong></div>
            </td>
            <td class="opponent-away">
              <%= opponent_away(prop) %>
            </td>
          </tr>
          <tr>
            <td class="opponent-home">
              <%= opponent_home(prop) %>
            </td>
          </tr>
    </table>
  </div>
  <div class="status-container"></div>
  <% end %>
</div>
