<div class="create-col">
  <div class="error-explanation">
    <% if @board.errors.any? %>
        <li><%= @board.errors.first[1] %></li>
    <% end %>
  </div>

  <br>
  <br>
  <div>
    <%= form_for @board do |f| %>
      <%= f.label :date, "New Board Date:" %><br>
      <%= f.date_select(:date, :order => [:month, :day, :year]) %><br>
      <%= f.submit %>
    <% end %>
  </div>

</div>
