<div class="dateSelectors">
  <span><%= link_to previous_board_link, board_path(previous_board) if previous_board %></span>

  <span id="today">
    <strong>
      <%= link_to DateTime.parse(@board.name).strftime('%a. %b %e'), board_path(@board)%>
    </strong>
  </span>
  <span><%= link_to next_board_link, board_path(next_board) if next_board %></span>

  <span>
    (<%= @board.props.count%> Total)
  </span>
</div>
<br>

<div class="prop-container">
  <% @board.props.each do |prop| %>
  <div class="prop-title"><strong><%= link_to prop.title, prop_path(prop) %></strong></div>
  <table>
    <tbody>
      <tr>
        <td rowspan='2' class="sport-start">
          <div><%= prop.readable_est_time %></div>
          <div><strong><%= prop.sport %></strong></div>
        </td>
        <td class="opponent away"><%= prop.away_team %></td>
      </tr>
      <tr>
        <td class="opponent home"><%= prop.home_team %></td>
      </tr>
    </tbody>
  </table>
  <% end %>
</div>
