<!DOCTYPE html>
<html>
  <head>
    <title>Streak on Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo">
          <img src="assets/streak_on_rails.svg" alt="streak-logo">
          <span><%= "Welcome, #{current_user.username}" if current_user%></span>
        </div>
          <nav>
            <ul>
              <li><%= link_to "Home", props_path %></li>
              <li><%= link_to "Log In", login_path if !logged_in?%></li>
              <li><%= link_to "Sign Up", signup_path if !logged_in?%></li>
              <li><%= link_to "Leaderboard", leaderboard_path %></li>
              <li><%= link_to "Log Out", logout_path, method: :delete if logged_in?%></li>
            </ul>
          </nav>
      </div>
  </header>

    <%= yield %>
  </body>
</html>
