<!DOCTYPE html>
<html>
  <head>
    <title>Streak on Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <%= link_to image_tag("streak_on_rails.svg"), root_path %>
          <div><%= "Welcome, #{current_user.username}" if current_user%></div>
        </div>
        <nav>
          <ul>
            <li><%= link_to "Home", props_path %></li>
            <% if !logged_in? %>
              <li><%= link_to "Log In", login_path %></li>
              <li><%= link_to "Sign Up", signup_path %></li>
            <% end %>
            <li><%= link_to "Leaderboard", leaderboard_path %></li>
            <li><%= link_to "Log Out", logout_path, method: :delete if logged_in?%></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

      <% if !logged_in? %>
        <div class="welcome-main" style="text-align: center;">
          <%= "Welcome to Streak on Rails! Choose from the sports props below and start your streak! You will need to " %><%= link_to "sign in", login_path %>
          <%= "to save your pick." unless logged_in? %>
        </div>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
